body{
    background-color: white;
}
body {
    color: #25265e;
    font-family: euclid_circular_a,arial,source sans pro,helvetica neue,helvetica,arial,sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    line-height: 24px;
    margin: 5% 5%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: euclid_circular_a, arial, source sans pro, helvetica neue, helvetica, arial, sans-serif;
    margin-bottom: 0px;
    color: #25265e;
}

.main-description p {
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 28px;
}

hr {
    border: 0;
    border-bottom: 1px solid #d3dce6;
    margin-top: 40px;
    margin-bottom: 40px;
}

footer hr {
    border: 0;
    border-bottom: 1px solid #d3dce6;
    margin-top: 40px;
    margin-bottom: 10px;
}

table {
    width: 80%;
    border-collapse: collapse;
    white-space: pre-wrap;
    background-color: #f8faff;
    border: 0;
    margin-bottom: 24px;
}

table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
    padding: 15px;
}

.content code, 
.content var {
    border: 1px solid #d3dce6;
    padding: 0 4px;
    border-radius: 4px;
    font-style: normal;
    font-family: droid sans mono,inconsolata,menlo,consolas,bitstream vera sans mono,courier,monospace;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin: 0 2px;
}

.content pre {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #d3dce6;
    background-color: #383b40;
    margin-bottom: 16px;
    overflow: auto;
    font-family: droid sans mono,inconsolata,menlo,consolas,bitstream vera sans mono,courier,monospace;
    font-size: 14px;
    line-height: 20px;
    color: #d5d5d5;
}

.content pre code {
    border: 0;
    padding: 0;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

pre code keyword {
    color: #c678dd;
}

pre code variable {
    color: #d19a66;
}

pre code std {
    color: #e9b686;
}

pre code character,
pre code string {
    color:lightgreen
}

pre code function {
    color:dodgerblue
}

pre code comment, 
pre code quote {
    color: #ffddbe;
}

pre code preprocessor,
pre code boolean {
    color: #e22e64;
}

.content .note-tip {
    padding: 16px 24px;
    border-radius: 4px;
    display: block;
    font-size: 18px;
    line-height: 30px;
    color: rgba(37,38,94,.7);
    margin-bottom: 16px;
    background: #f8faff;
    border: 1px solid #d3dce6;
    border-left: 4px solid #0556f3;
}

.content ul {
    color: rgba(37,38,94,.7);
    padding-left: 24px;
    margin-bottom: 24px;
    list-style-type: disc;
    line-height: 30px;
}

.content ol {
    color: rgba(37,38,94,.7);
    padding-left: 24px;
    margin-bottom: 24px;
    line-height: 30px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.imagecenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}